* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.high-scores {
    font-size: 16px;
    color: white;
    background-color: rgb(47, 43, 95);
    height: 30px;
    width: 400px;
    padding: 10px;
    line-height: 8px;
    margin-top: 20px;
    border-radius: 20px;
    max-width: 150px;
}

h3 {
    height: 30px;
    line-height: 8px;
    margin-top: 30px;
    padding-right: 5px;
}

.questions-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    border-width: 5px;
    border-color: rgb(47, 43, 95);
    border-style: solid;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    padding: 10px;
}

.start-quiz {
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(47, 43, 95);
    height: 30px;
    width: 100px;
    line-height: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
}