* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

#high-scores {
    font-size: 16px;
    color: white;
    background-color: rgb(47, 43, 95);
    height: 30px;
    width: 400px;
    padding: 10px;
    line-height: 8px;
    margin-top: 20px;
    border-radius: 20px;
    max-width: 150px;
    cursor: pointer;
}

h3 {
    height: 30px;
    line-height: 8px;
    margin-top: 30px;
    padding-right: 5px;
}

main {
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    border-width: 5px;
    border-width: 5px;
    border-color: rgb(47, 43, 95);
    border-style: solid;
}

#welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
    font-size: larger;
}

#question {
    text-align: center;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

#start-quiz {
    flex-wrap: wrap;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(47, 43, 95);
    height: 50px;
    width: 200px;
    line-height: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    cursor: pointer;
}

#option-buttons {
    display: flex;
    visibility: hidden;
}

#option-one {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(47, 43, 95);
    height: 50px;
    width: 200px;
    line-height: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    cursor: pointer;
}

#option-two {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(47, 43, 95);
    height: 50px;
    width: 200px;
    line-height: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    cursor: pointer;
}

#option-three {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(47, 43, 95);
    height: 50px;
    width: 200px;
    line-height: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    cursor: pointer;
}

#option-four {
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
    font-size: 16px;
    color: white;
    background-color: rgb(47, 43, 95);
    height: 50px;
    width: 200px;
    line-height: 8px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 20px;
    margin-left: auto;
    margin-right: auto;
    max-width: 250px;
    cursor: pointer;
}